/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

/* ROBOT.GIF from Giphy  https://giphy.com/gifs/animation-robot-character-design-3ohhwkEMAApurvNCGQ */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #1b6d87;
}
.container {
  /* view port heighth and view port width dynamically scale the project based on the size of the view port/window */
  height: 100vh;
  width: 100vw;
  display: flex;
  /* align items top bottom */
  flex-direction: column;
  /* Align horizontally */
  justify-content: center;
  /* align vertically */
  align-items: center;
  /* Add background to parse the gif url */
  background: url('./robo.gif');
  /* Adjust the background size that way the image is fully visible on the screen */
  background-size: contain;
  /* left is the horizontal property and center is the vertical property */
  background-position: left center;
  background-repeat: no-repeat;
}

/* Media Query:Tablet or smaller */
/* less than 1000px */
@media screen and (max-width: 1000px) {
  .container {
    background-position:center center;
    background-size:center ;
    /* background-size:cover ; */
    
  }

  
}