/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

/* ROBOT.GIF from Giphy  https://giphy.com/gifs/animation-robot-character-design-3ohhwkEMAApurvNCGQ */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #1b6d87;
}
.container {
  /* view port heighth and view port width dynamically scale the project based on the size of the view port/window */
  height: 100vh;
  width: 100vw;
  display: flex;
  /* align items top bottom */
  flex-direction: column;
  /* Align horizontally */
  justify-content: center;
  /* align vertically */
  align-items: center;
  /* Add background to parse the gif url */
  background: url('./robo.gif');
  /* Adjust the background size that way the image is fully visible on the screen */
  background-size: contain;
  /* left is the horizontal property and center is the vertical property */
  background-position: left center;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: black;
  background:rgb(47, 184, 100);
  border: none;
  border-radius: 5px;
  /* Subtle shadow: horizontal offset, vertical offset, blu r(how far out),spread (how far the shadow spreads from the element */
  box-shadow: 2px 2px 20px 10px rgba(12, 3, 3, 0.5);
}

/* Pseudo class: Something that styles when a given event or state has occurred. Styling when the user is interacting with the button*/

button:hover {
  filter: brightness(95%)
}

button:active {
  transform: scale(0.98);  
}

button:disabled {
  cursor: default;
  filter: brightness(30%);
}
/* Media Query:Tablet or smaller */
/* less than 1000px */
@media screen and (max-width: 1000px) {
  .container {
    background-position:center center;
    background-size:center ;
    /* background-size:cover ; */
    
  }
button {
  box-shadow: 5px 5px 30px 20px rgba(0,0,0,0.6);
  background-size: cover;
}
  
}